body {background-color: #F498B8;}

.chart {
  padding: 1%;
  display: inline-block;
}

.small.chart {
  width: 31%;
  height: 300px;
}

.big.chart {
  width: 98%;
  height: 400px;
}

@media (max-width: 800px) {
  .small.chart {
    width: 31%;
  }
}
